*{
   padding: 0;
   margin: 0;
   font-family: 'poppins', sans-serif;
}
body{
   background-color: #300eed;
   display: grid;
   height: 100vh;
   place-items: center;
}
.main{
   width: 400px;
   height: 450px;
   background-color: rgb(160, 237, 166);
   position: absolute;
   border: 5px solid rgb(49, 47, 47);
   border-radius: 6px; 
}
.main input[type='text'] {
   width: 88%;
   position: relative;
   height: 80px;
   top: 5px;
   text-align: right;
   padding: 3px 6px;
   outline: none;
   font-size: 40px;
   border: 5px solid black;
   display: flex;
   margin: auto;
   border-radius: 6px;
   color: rgb(236, 240, 10);
}
.btn input[type='button']{
   width:90px;
   padding: 2px;
   margin: 2px 0px;
   position: relative;
   left: 13px;
   top: 20px;
   height: 60px;
   cursor: pointer;
   font-size: 18px;
   transition: 0.5s;
   background-color: #523a81;
   border-radius: 6px;
   color: white;
}
.btn input[type='button']:hover{
   background-color: rgb(82, 10, 10);
   color: rgba(243, 40, 40, 0.947);
}